body{
    font: Arial,"Times New Roman",sans-serif;
}
#container {
    width: 850px;
/*    border: 1px black solid;*/
    margin: 0 auto;    
}

#header {
    height: 100px;
    padding: 10px 0;
}

h1 a{
    text-decoration: none;
    font-family: sans-serif;
    font-size: 30px;
    font-style: italic;
    color: purple;
    }

#title{
    float: left;
}

#searchbox{
    margin-top: 15px;
    border: 1px ridge black;
    float: right;
    background: linear-gradient(to left,white,pink);
    background: -webkit-linear-gradient(to left,white,pink);
    background: -moz-linear-gradient(to left,white,pink);
    background: -o-linear-gradient(to left,white,pink);
    background: -ms-linear-gradient(to left,white,pink);
    width: 300px;
    height: 50px;
    padding: 20px 20px 0px 20px;
    margin-top: 15px
    }

.text {
/*    margin: 15px;*/
    float: left;
    width: 170px;
    padding: 3px;
    border: 1px solid black;
    font-size: 14px;
    color: brown;
    text-indent: 3px;
/*    background: white url(Images/search.png) right center no-repeat;*/
    background-image: url(Images/search.png);
    background-position: right;
    background-repeat: no-repeat;
    
    
}

.search {
/*    margin: 15px;*/
    float: right;
    width: 60px;
    padding: 3px;
    font-weight: bolder;
    color: white;
    background: purple;
    text-indent: 3px;

}

#clear {
    clear: both;
}

#menu ul{
    list-style: none;
    background: linear-gradient(#F8F594,#D5D533);
    background: -webkit-linear-gradient(#F8F594,#D5D533);
    background: -moz-linear-gradient(#F8F594,#D5D533);
    background: -o-linear-gradient(#F8F594,#D5D533);
    background: -ms-linear-gradient(#F8F594,#D5D533);
/*    border: 0px solid black;*/
    height: 40px;
    margin: 0px;
    padding-top: 20px
}
#menu ul li{
    float: left;
    padding: 14px 20px;
    border-right: 1px solid black;
    line-height: 0.2px;
}
#menu ul li:last-child{
    border-right: none;
}
#menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: blueviolet;
    font-size: 14px;    
    -webkit-transition: font-size 1s ease;
    -moz-transition: font-size 1s ease;
    -o-transition: font-size 1s ease;
    -ms-transition: font-size 1s ease;
    transition: font-size 1s ease; /*linear or ease*/
}
#menu ul li a:hover, #menu ul li a.active{
    font-weight: bold;
    font-size: 17px;
    color: purple;
    
}

#information {
 background: linear-gradient(#E5F2BB,#B7E952);
 background: -webkit-linear-gradient(#E5F2BB,#B7E952);
 background: -moz-linear-gradient(#E5F2BB,#B7E952);
 background: -o-linear-gradient(#E5F2BB,#B7E952);
 background: -ms-linear-gradient(#E5F2BB,#B7E952);
 padding: 20px;
 margin: 15px 0;
}

#information h3{
    color: #396901;
    font-weight: normal;
    font-size: 35px;   
}
#information p{
    font-weight: normal;
    font-size: 22px; 
    text-align: justify;
    color: #628F19;
}

.sidebar{
    width: 400px;
    height: 450px;
    border: 1px solid #628F19;
    border-radius: 20px;
}
.sidebar ul li a, .sidebar h3 a,.sidebar ul{
    text-decoration: none;
    list-style: none;
}
.sidebar ul li a{
    font-size: 16px;
    -webkit-transition: font-size 1s ease;
    -moz-transition: font-size 1s ease;
    -o-transition: font-size 1s ease;
    -ms-transition: font-size 1s ease;
    transition: font-size 1s ease;
}
.sidebar ul li a:hover{
    font-weight: bold;
    font-size: 18px;
    color: purple;
}
.sidebar h3{
    padding-top: 5px;
    padding-left: 20px;
    font-weight: bold;
    font-size: 25px;
    color: purple;    
}
.sidebar ul li{
        padding: 2px 10px;
}
#leftsidebar{
    float: left;
}
.sidebar ul{
    padding-top: 3px;
}
#leftsidebar ul li{
    padding: 1px 0 1px 8px;
    list-style-image: url(Images/arrow.png);
}
#rightsidebar ul li{
    padding: 7px 0 7px 40px;
    background: url(Images/Tick.png) no-repeat left center;
}
#rightsidebar ul{
    padding-left: 23px;
}
#leftsidebar ul{
    padding-left: 50px;
}
#rightsidebar{
    float: right;
}

.footer{
    height: 50px;
    background: linear-gradient(#F6F390,#D5D533);
    background: -webkit-linear-gradient(#F6F390,#D5D533);
    background: -moz-linear-gradient(#F6F390,#D5D533);
    background: -o-linear-gradient(#F6F390,#D5D533);
    background: -ms-linear-gradient(#F6F390,#D5D533);
    font-weight: bolder;
    padding: 3px 20px 5px 20px;
    border-radius: 10px;
    margin-top: 13px;
}